# Environment variables
.env
.idea
# Scraped dataset
scraped_dataset/

# Data
data/cleaned/
data/chroma/

# __pycache__
__pycache__/

# streamlit cache
.streamlit/

# Claude agent skills
.claude/

# Node modules
node_modules/

# Graphify
graphify-out/